---
layout: page
title: 学习短记
author: Actredphos2017
description: "在这里，一起Update自己"
---

{% for note in paginator.notes %}
<div class="note-preview">
    <a href="{{ note.url | prepend: site.baseurl }}">
        <h2 class="note-title">
            {{ note.title }}
        </h2>
        {% if note.subtitle %}
        <h3 class="note-subtitle">
            {{ note.subtitle }}
        </h3>
        {% endif %}
        <div class="note-content-preview">
            {% if note.lang == 'en' %}
                {{ note.content | strip_html | truncate:300 }}
            {% else %}
                {{ note.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="note-meta">
        noteed by {% if note.author %}{{ note.author }}{% else %}{{ site.title }}{% endif %} on {{ note.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer notes</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older notes &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
