---
layout: page
title: 学习短记
author: Actredphos2017
description: "在这里，一起Update自己"
---

{% for notes in paginator.notes %}
<div class="notes-preview">
    <a href="{{ notes.url | prepend: site.baseurl }}">
        <h2 class="notes-title">
            {{ notes.title }}
        </h2>
        {% if notes.subtitle %}
        <h3 class="notes-subtitle">
            {{ notes.subtitle }}
        </h3>
        {% endif %}
        <div class="notes-content-preview">
            {% if notes.lang == 'en' %}
                {{ notes.content | strip_html | truncate:300 }}
            {% else %}
                {{ notes.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="notes-meta">
        notesed by {% if notes.author %}{{ notes.author }}{% else %}{{ site.title }}{% endif %} on {{ notes.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer notess</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older notess &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
